@model List<BanDongHoSolution.Data.Dtos.Product.ProductDto>

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <form method="get" action="@Url.Action("Search", "Home")" class="search-form">
        <input type="text" name="keyword" placeholder="Tìm kiếm sản phẩm..." class="search-input">
        <button type="submit" class="search-button">Tìm kiếm</button>
    </form>



        <div class="col-md-12">
            <div class="jumbotron">
                <img src="/images/banner2.jpg" style="width: 100%" />
            </div>
        </div>
    </div>
    @if (Model != null)
    {
        <div class="row mt-2">
            @foreach (var item in Model)
            {
                <div class="col-md-4 mt-2">
                    <div class="card">
                        <div class="card-body">
                            <img src="@item.HinhNho" style="width: 100%" />
                            <p class="card-text text-center">@item.TenSP</p>
                            <p class="card-text text-center">@Convert.ToDecimal(item.DonGia).ToString("#,##0") đồng</p>
                            <div class="row">
                                <div class="col text-center">
                                    <a style="background-color:green" asp-route="addcart" asp-route-productid="@item.MaSP"
                                       class="btn btn-secondary btn-sm float-right">Đặt hàng</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>
<style>
    form {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    input[type="text"] {
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        font-size: 16px;
        width: 60%;
        margin-right: 10px;
    }

    button[type="submit"] {
        padding: 10px 20px;
        border-radius: 5px;
        background-color: #4CAF50;
        color: white;
        border: none;
        font-size: 16px;
        cursor: pointer;
    }

        button[type="submit"]:hover {
            background-color: #3e8e41;
        }

</style>